In [20]:
#Assigning variable values
x=5
y=3
print(x+y)

8

In [21]:
#Rules fo Defining VAriable

first name="Ram"
print (first name)

SyntaxError: invalid syntax (<ipython-input-21-ae984bcc831b>, line 3)

In [10]:
first_name='Hari'
print(first_name)

Hari

In [11]:
firstname='Krishnan'
print(firstname)

Krishnan

In [12]:
1name='Harikrishna'
print(1name)

SyntaxError: invalid syntax (<ipython-input-12-db1583de3a0e>, line 1)

In [13]:
name1='Harikrishna'
print(name1)

Harikrishna

In [14]:
@var1='Netherland'
print(@var1)

SyntaxError: invalid syntax (<ipython-input-14-d57bd6b32413>, line 1)

In [ ]:
# Hash used for commenting the lines

In [15]:
#String Data Type single Quotes
name1='RamHari'
print(name1)

RamHari

In [16]:
#String Data Type single Quotes
name1="RamHari"
print(name1)

RamHari

In [18]:
#String Data Type TRiple Quotes
name1="""RamHari"""
print(name1)

RamHari

In [19]:
#String Data Type TRiple Quotes
name1='''RamHari'''
print(name1)

RamHari